{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}Painel - Itens - Excluir{% endblock %}


{% block content %}
{% include 'dashboard/includes/tabs.html' %}


<div class="page-header">
  <h3>Excluir Item <small><a href="{% url 'dashboard_item_list' %}">Cancelar</a></small></h3>
</div>

<form action="." method="post" id="form-item-delete">{% csrf_token %}
  <p>
    Tem certeza que deseja excluir o item <strong><a href="http://twitter.com/statuses/{{ item.social_item_id }}">http://twitter.com/statuses/{{ item.social_item_id }}</a></strong>?
  </p>

  <div class="btn-group">
    <button class="btn btn-danger" type="submit">Sim</button>
    <a href="{% url 'dashboard_item_list' %}" class="btn">Não</a>
  </div>
  
</form>


{% endblock %}

{% block extrajs %}
<script>
$(document).ready(function(){
  
  $('.nav-panel').addClass('active');
  $('.tabs-item').addClass('active');
  
});
</script>
{% endblock %}